/* Header Styling for About Page */
.about-page .name-and-info {
    display: flex;
    flex-direction: row;
    gap: 3rem; 
  }
.about-page h1 {
    font-size: 2.5rem; 
    color: #333;
    margin: 0;
}

.about-page h3 {
    font-size: 1.5rem;
    color: #c9184a; 
}


.about-page p, .about-page ul {
    font-size: 1rem;
    color: black; 
}

/* Remove bullet points and add a vertical line for About page */
.about-page ul {
    padding-left: 0; /* Remove left padding to remove bullet points */
    list-style-type: none; /* Ensure bullet points are removed */
}

.about-page li {
    margin: 1.5rem 0; 
    padding-left: 1rem; 
    position: relative;
    border-left: 3px solid transparent; 
    transition: border-color 0.3s ease; 
}

@keyframes drawLine {
    0% {
        height: 0;
    }
    100% {
        height: 100%; 
    }
}

/* Use the animation on hover */
.about-page li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%; 
    background-color: #e91e63; 
    animation: drawLine 1s ease-out forwards;
}


.about-page h3 {
    margin-top: 2rem; 
    margin-bottom: 1rem; 
}

.about-page p {
    margin-bottom: 1.5rem; 
}


.about-page ul {
    margin-top: 1.5rem;
}

.about-page p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.general-info h1{
    color: #e91e63;
}

/* Languages Section Styling */
.about-page .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .about-page .language-pill {
    background-color: #ff4d6d; 
    color: white;
    padding: 0.5rem 1rem; 
    border-radius: 20px; 
    font-size: 1rem;
    text-transform: capitalize; 
    transition:  transform 0.3s ease;
  }

  .about-page .language-pill:hover {
   transform: scale(1.1);
   cursor: default;
  }

  /* Personal Projects Links Styling */
.about-page .project-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem; 
  }
  
.about-page .project-link {
    background-color: #ffb3c1; 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
.about-page .project-link:hover {
    background-color: #ff8fa3; 
    transform: scale(1.05); 
  }
  
/* General Info Styling */
.about-page .general-info {
    background-color: #fefcf6; 
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 30%; 
    height: 80%;
}

.about-page .general-info p {
font-size: 1rem;
color: #800f2f;
margin: 0.5rem 0;
}


.about-page .general-info a:hover {
text-decoration: underline;
}

.about-page .bio {
margin-top: 1rem;
max-width: 60%;
}