/* Experience Page Styles */
.experience-page .skills {
    margin-top: 2rem;
    padding-left: 1rem;
  }
  
  .experience-page .skill-category {
    margin-bottom: 1.5rem;
  }
  
  .experience-page .skill-category p {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
  }
  
  /* Style for the skill pills */
  .experience-page .skill-pills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .experience-page .skill-pill {
    padding: 8px 12px;
    background-color: #ff4d6d;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    cursor: default;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .experience-page .skill-pill:hover {
    transform: scale(1.1); 
  }
  
  /* Additional styles for the job details */
  .experience-page h3 {
    font-size: 1.5rem;
    color: #c9184a;
  }
  
  .experience-page p {
    font-size: 1rem;
    color: #666;
  }
  
  .experience-page ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .experience-page li {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  /* Experience item styling */
  .experience-page .experience-item {
    position: relative;
    padding-left: 1rem; 
    margin-bottom: 1rem;
    border-radius: 8px; 
    overflow: hidden; 
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .experience-page .experience-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 0;
    background-color: #e91e63; 
    transition: height 0.3s ease; 
  }
  
  .experience-page .experience-item:hover::before {
    height: 100%; 
  }
  
  .experience-page .experience-item:hover {
    background-color: #fefcf6; 
    transform: scale(1.03); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
  }
  
  .experience-page .experience-item:hover {
    transform: scale(1.03); 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }
  