/* Navbar Styles */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    padding: 0.1rem; 
    background-color: #c9184a; 
    text-align: center; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

/* Navbar List Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex; 
    gap: 2rem;
}

/* Navbar Item Styles */
nav li {
    display: inline-block;
}

nav a {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: white; 
    text-decoration: none; 
}

nav li:hover {
    transform: scale(1.1); 
}
